.main-mainDiv {
    display: flex;
    flex-direction: column;
}


li {
    padding-left: 7px;
    padding-right: 7px;
}

.main-bodyDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.main-bodylines {
    display: flex;
    flex-direction: row;
    padding-bottom: 27px;
    padding-top: 27px;
}

.main-bodyText {
    font-family: NanumSquareR;
    font-size: 18px;
    color: #cfcfcf;
    font-weight: bold;
}
.main-bodyText-mobile {
    font-family: NanumSquareR;
    font-size: 18px;
    color: #cfcfcf;
    font-weight: bold;
}
.main-bodyline {
    background-color: #cfcfcf;
    height: 1px;
    width: 984px;
    margin-left: 8px;
    align-self: center;
}
.main-bodyline-mobile {
    background-color: #cfcfcf;
    height: 1px;
    width: 86%;
    margin-left: 6px;
    align-self: center;
}
@media all and (max-width : 1150px) {
    .main-bodylines {
        flex-direction: column;
        text-align: center;
    }
    .main-bodyText {
        font-size: 12px;
    }
}

.main-bodyBoxs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-bodyBox {
    border: 1px solid white;
    width: 196px;
    height: 161px;
}