.insert-mainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.insert-titleDiv {
    height: 33px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.insert-titleText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.insert-Text {
    font-family:"타이포_쌍문동",Typo_SsangmunDong_B;
    font-size: 24px;
    color: #b4b4b5;
    padding-right: 11px;
}

.insert-titleLine {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.185);
}

.insert-contentsDiv {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

input {
    background-color: #262626;
    resize: none;
    border: none;
    color: #b4b4b5;
    height:33px;
    width: 245px;
    font-size:13pt;
    padding-left: 5px;
}
.insert-box{
    width: 249px;
    object-fit: contain;
}

.insert-box-content{
    width: 260px;
    height: 100px;
    color:#b4b4b5;
    font-size: 16px;
}

.insert-idChecked {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insert-idCheckedBtn {
    margin-left: 10px;
    height: 30px;
    width: 70px;
    font-size: 12px;
    border: none;
    background-color:#7966a3;
    color: #b4b4b5;
}

.insert-input-usernumber{
    width: 112px;
}

.insert-input-phoneck,.insert-input-idck {
    width: 152px;
}

.insert-phonech-btn,.insert-idck-btn{
    background-color:#7966a3;
    border: none;
    width: 91px;
    height:33px;
    margin-left: 4px;
    font-family: "나눔스퀘어",NanumSquareR;
    font-size: 13px;
    color: #b4b4b5;

}
.insert-btn{
    width: 252px;
    height:35px;
    background-color:#7966a3;
    border: none;
    font-family: "나눔스퀘어",NanumSquareR;
    font-size: 16px;
    color: #b4b4b5;
    font-weight: bold;
}

.insert-regSpan {
    font-size: 12px;
    color: red;
}
input[type="password"]
{ font-size: 20pt;}

::placeholder{
    font-size: 10pt;
}